{% extends "layouts/base.html" %}
{% load project_extras static %}
{% block title %}  {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<script>
    function yanzhenghuanjingfun(){
        var ceshihuanjing = document.getElementById('ceshihuanjing')
        ceshihuanjing.style.display = "none";
        var xianshanghuanjing = document.getElementById('xianshanghuanjing')
        xianshanghuanjing.style.display = "none";
        var yanzhenghuanjing = document.getElementById('yanzhenghuanjing')
        yanzhenghuanjing.style.display = "block";
    }
    function xianshanghuanjingfun(){
        var ceshihuanjing = document.getElementById('ceshihuanjing')
        ceshihuanjing.style.display = "none";
        var xianshanghuanjing = document.getElementById('xianshanghuanjing')
        xianshanghuanjing.style.display = "block";
        var yanzhenghuanjing = document.getElementById('yanzhenghuanjing')
        yanzhenghuanjing.style.display = "none";
    }
    function ceshihuanjingfun(){
        var ceshihuanjing = document.getElementById('ceshihuanjing')
        ceshihuanjing.style.display = "block";
        var xianshanghuanjing = document.getElementById('xianshanghuanjing')
        xianshanghuanjing.style.display = "none";
        var yanzhenghuanjing = document.getElementById('yanzhenghuanjing')
        yanzhenghuanjing.style.display = "none";
    }
</script>
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!-- [ basic-table ] start -->
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5><span><i class="feather icon-home">  <a
                                            href="{% url 'index' %}">首页</a></i></span>
                                    </h5>
                                    <span><i class="fa fa-map-marker"></i> 变量列表</span>
                                </div>

                                <div class="card-block" style="display: block" id="ceshihuanjing">
                                    <div class='row'>
                                        <div class="col-8">
                                            <div class="col-6">
                                                <div class="btn-group ">
                                                        <button class="btn btn-light dropdown-toggle" type="button"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">测试环境
                                                        </button>

                                                   <div class="dropdown-menu">
                                                        <a class="dropdown-item" >开发环境</a>
                                                        <a class="dropdown-item" onclick="yanzhenghuanjingfun()">验证环境</a>
                                                        <a class="dropdown-item" onclick="xianshanghuanjingfun()">生产环境</a>
                                                    </div>
                                               </div>
                                            </div>

                                        </div>
                                        <div class="col-4">
                                            <form class="form-inline mb-2">
                                                <div class="form-group mx-sm-3 mb-2">
                                                    <input type="text"
                                                           class="form-control"
                                                           name="search" ,
                                                           id='search' ,
                                                           placeholder="变量名称" ,
                                                           value=>
                                                </div>
                                                <button type="submit" class="btn btn-secondary mb-2 btn-sm">搜索</button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="table-responsive ">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>id</th>
                                                <th>变量名称</th>
                                                <th>当前值</th>
                                                <th>变量描述</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <td>1</td>
                                                <td>url</td>
                                                <td>https://www.测试环境.com</td>
                                                <td>测试环境url</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class='col-4'>
                                            <a>合计1条</a>
                                        </div>
                                    </div>
                                </div>

                                <!--验证环境-->
                                <div class="card-block" id='yanzhenghuanjing' style="display: none">
                                    <div class='row'>
                                        <div class="col-8">
                                            <div class="col-6">
                                                <div class="btn-group ">
                                                        <button class="btn btn-light dropdown-toggle" type="button"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">验证环境
                                                        </button>

                                                   <div class="dropdown-menu">
                                                       <a class="dropdown-item" >开发环境</a>
                                                        <a class="dropdown-item" onclick="ceshihuanjingfun()">测试环境</a>
                                                        <a class="dropdown-item" onclick="xianshanghuanjingfun()">生产环境</a>
                                                    </div>
                                               </div>
                                            </div>

                                        </div>
                                        <div class="col-4">
                                            <form class="form-inline mb-2">
                                                <div class="form-group mx-sm-3 mb-2">
                                                    <input type="text"
                                                           class="form-control"
                                                           name="search" ,
                                                           id='search' ,
                                                           placeholder="变量名称" ,
                                                           value=>
                                                </div>
                                                <button type="submit" class="btn btn-secondary mb-2 btn-sm">搜索</button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="table-responsive ">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>id</th>
                                                <th>变量名称</th>
                                                <th>当前值</th>
                                                <th>变量描述</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <td>1</td>
                                                <td>url</td>
                                                <td>https://www.验证环境.com</td>
                                                <td>验证环境url</td>
                                                </tr>
                                                <td>2</td>
                                                <td>验证环境变量</td>
                                                <td>验证环境变量值</td>
                                                <td>验证环境..</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class='col-4'>
                                            <a>合计2条</a>
                                        </div>
                                    </div>
                                </div>

                                <!--线上环境-->
                                <div class="card-block" id='xianshanghuanjing' style="display: none">
                                    <div class='row'>
                                        <div class="col-8">
                                            <div class="col-6">
                                                <div class="btn-group ">
                                                        <button class="btn btn-light dropdown-toggle" type="button"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">生产环境
                                                        </button>

                                                   <div class="dropdown-menu">
                                                       <a class="dropdown-item" >开发环境</a>
                                                        <a class="dropdown-item" onclick="ceshihuanjingfun()">测试环境</a>
                                                        <a class="dropdown-item" onclick="yanzhenghuanjingfun()">验证环境</a>
                                                    </div>
                                               </div>
                                            </div>

                                        </div>
                                        <div class="col-4">
                                            <form class="form-inline mb-2">
                                                <div class="form-group mx-sm-3 mb-2">
                                                    <input type="text"
                                                           class="form-control"
                                                           name="search" ,
                                                           id='search' ,
                                                           placeholder="变量名称" ,
                                                           value=>
                                                </div>
                                                <button type="submit" class="btn btn-secondary mb-2 btn-sm">搜索</button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="table-responsive ">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>id</th>
                                                <th>变量名称</th>
                                                <th>当前值</th>
                                                <th>变量描述</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <td>1</td>
                                                <td>url</td>
                                                <td>https://www.线上环境.com</td>
                                                <td>线上环境url</td>
                                                </tr>
                                                <td>2</td>
                                                <td>线上变量1</td>
                                                <td>线上变量1值</td>
                                                <td>线上变量1...</td>
                                                </tr>
                                                <td>3</td>
                                                <td>线上变量2</td>
                                                <td>线上变量2值</td>
                                                <td>线上变量2...</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class='col-4'>
                                            <a>合计3条</a>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}