{% extends "layouts/base.html" %}
{% load project_extras static %}
{% block title %} 模块列表 {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!-- [ basic-table ] start -->
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5><span><i class="feather icon-home">  <a
                                            href="{% url 'index' %}">首页</a></i></span>
                                    </h5>
                                    <span><i class="fa fa-map-marker"></i> 模块列表</span>
                                </div>

                                <div style="display: none" class="card-block">
                                    <div class='row'>
                                        <div class="col-8">

                                            <div class="col-6">
                                                <div class="btn-group ">
                                                    <a href="{% url 'module_add' %}" class='btn btn-primary'>新增模块</a>
                                                </div>

                                                <div class="btn-group ">
                                                    {% if created_by == '' %}
                                                        <button class="btn btn-light dropdown-toggle" type="button"
                                                                aria-haspopup="true"
                                                                aria-expanded="false">模块状态
                                                        </button>
                                                    {% else %}
                                                        <button class="btn btn-light dropdown-toggle" type="button"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">{{ created_by }} </button>
                                                    {% endif %}
                                                    <div class="dropdown-menu">

                                                        <a class="dropdown-item"
                                                           href="{% url 'prlist' %}?created_by={{ True }}&search={{ search }}">正常</a>
                                                        <a class="dropdown-item"
                                                           href="{% url 'prlist' %}?created_by={{ False }}&search={{ search }}">结项</a>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>

                                        <div class="col-4">
                                            <form class="form-inline mb-2">
                                                <div class="form-group mx-sm-3 mb-2">
                                                    <input type="text"
                                                           class="form-control"
                                                           name="search" ,
                                                           id='search' ,
                                                           placeholder="项目名称/模块名称/模块别名" ,
                                                           value=>
                                                </div>
                                                <button type="submit" class="btn btn-secondary mb-2 btn-sm">搜索</button>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="table-responsive ">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>id</th>
                                                <th>所属项目</th>
                                                <th>模块名称</th>
                                                <th>模块别名</th>
                                                <th>状态</th>
                                                <th>创建时间</th>
                                                <th>更新时间</th>
                                                <th>维护者</th>
                                                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for module in project_module %}
                                                <tr>
                                                    <td>{{ module.id }}</td>
                                                    <td>{{ module.projcet }}</td>
                                                    <td>{{ module.module_name }}</td>
                                                    <td>{{ module.module_alias }}</td>
                                                    <td>{{ module.isenabled }}</td>
                                                    <td>{{ module.createtime }}</td>
                                                    <td>{{ module.updatetime }}</td>
                                                    <td>{{ module.maintainer }}</td>
                                                    <td>
                                                        <button type="button" class="btn btn-success"
                                                                onclick="window.location.href='{% url 'module_update' module.id %}';">
                                                            <i class="feather icon-edit"></i>更新
                                                        </button>

                                                        <button href="#" type="button" class="btn btn-danger"
                                                                onclick="window.location.href='{% url 'module_delete' module.id %}';">
                                                            <i class=" feather icon-trash-2"></i>删除
                                                        </button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class='col-4'>
                                            <a>合计 {{ count_total }} 条</a>
                                        </div>
                                        <div class='col-8'>
                                            {% show_pagination %}
                                        </div>
                                        <div class='col-8'>
                                        </div>
                                    </div>
                                </div>

                                <!--为了展示-->
                                <div style="display: block" class="card-block">
                                    <div class='row'>
                                        <div class="col-8">

                                            <div class="col-6">
                                                <div class="btn-group ">

                                                </div>

                                                <div class="btn-group ">
                                                        <button class="btn btn-light" type="button"
                                                                aria-haspopup="true"
                                                                aria-expanded="false">功能模块
                                                        </button>
                                                </div>

                                            </div>


                                        </div>

                                        <div class="col-4">
                                            <form class="form-inline mb-2">
                                                <div class="form-group mx-sm-3 mb-2">
                                                    <input type="text"
                                                           class="form-control"
                                                           name="search" ,
                                                           id='search' ,
                                                           placeholder="模块名称/模块别名" ,
                                                           value=>
                                                </div>
                                                <button type="submit" class="btn btn-secondary mb-2 btn-sm">搜索</button>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="table-responsive ">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>模块名称</th>
                                                    <th>模块别名</th>
                                                    <th>维护者</th>
                                                    <th>总用例</th>
                                                    <th>可查看用例</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td id='shujuchaxun' onclick="zhankai1()" class="chakan"> > </td>
                                                    <td>数据查询统计系统</td>
                                                    <td>查询统计</td>
                                                    <td>admin</td>
                                                    <td>1000</td>
                                                    <td><a href="">10</a></td>
                                                </tr>
{#                                                <tr id="collapseme1_1" style="display:table-row">#}
                                                <tr id="collapseme1_1" style="display:none">
                                                    <td style="text-indent:15px;"> > </td>
                                                    <td style="text-indent:15px;">统一柜台查询系统</td>
                                                    <td >柜台查询</td>
                                                    <td style="text-indent:15px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme1_2" style="display:none">
                                                    <td style="text-indent:15px;"> > </td>
                                                    <td style="text-indent:15px;">登记存管信息终端</td>
                                                    <td >登记存管</td>
                                                    <td style="text-indent:15px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme1_3" style="display:none">
                                                    <td style="text-indent:15px;"> > </td>
                                                    <td style="text-indent:15px;">结算业务</td>
                                                    <td >结算</td>
                                                    <td style="text-indent:15px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme2_1" style="display:none">
                                                    <td style="text-indent:30px;"> > </td>
                                                    <td style="text-indent:30px;">结算参与人相关基本信息统计_深(Ⅰ级)</td>
                                                    <td >参与人信息统计</td>
                                                    <td style="text-indent:30px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme2_2" style="display:none">
                                                    <td style="text-indent:30px;"> > </td>
                                                    <td style="text-indent:30px;">结算账户活跃度查询-深(Ⅰ级)</td>
                                                    <td >结算活跃度</td>
                                                    <td style="text-indent:30px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme2_3" style="display:none">
                                                    <td style="text-indent:30px;"> > </td>
                                                    <td style="text-indent:30px;">参与人阶段备付金账户、结算保证金账户查询_三板(Ⅰ级)</td>
                                                    <td >备付金账户、结算保证金账户查询</td>
                                                    <td style="text-indent:30px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme1_4" style="display:none">
                                                    <td style="text-indent:15px;"> > </td>
                                                    <td style="text-indent:15px;">开放式基金</td>
                                                    <td ></td>
                                                    <td style="text-indent:15px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme1_5" style="display:none">
                                                    <td style="text-indent:15px;"> > </td>
                                                    <td style="text-indent:15px;">信息统计与管理</td>
                                                    <td ></td>
                                                    <td style="text-indent:15px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>

                                                <tr id="fengxianjiance" onclick="zhankai2()" class="chakan2">
                                                    <td> > </td>
                                                    <td>统一风险监测系统</td>
                                                    <td>风险监控</td>
                                                    <td>abc</td>
                                                    <td>1000</td>
                                                    <td><a href="">1000</a></td>
                                                </tr>
                                                <tr id="collapseme12_1" style="display:none">
                                                    <td style="text-indent:15px;"> > </td>
                                                    <td style="text-indent:15px;">领导首页</td>
                                                    <td >首页</td>
                                                    <td style="text-indent:15px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme12_2" style="display:none">
                                                    <td style="text-indent:15px;"> > </td>
                                                    <td style="text-indent:15px;">预警管理</td>
                                                    <td >预警</td>
                                                    <td style="text-indent:15px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme12_3" style="display:none">
                                                    <td style="text-indent:15px;"> > </td>
                                                    <td style="text-indent:15px;">数据管理</td>
                                                    <td >数据管理</td>
                                                    <td style="text-indent:15px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme12_4" style="display:none" onclick="fengxianweidu()" class="fengxianweidushow1">
                                                    <td style="text-indent:15px;"> > </td>
                                                    <td style="text-indent:15px;">风险维度</td>
                                                    <td >风险维度</td>
                                                    <td style="text-indent:15px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme121_1" style="display:none" onclick="yueducanyu()" class="yueducanyushow1">
                                                    <td style="text-indent:30px;"> > </td>
                                                    <td style="text-indent:30px;">月频度-参与人</td>
                                                    <td >月频度</td>
                                                    <td style="text-indent:30px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme1211_1" style="display:none">
                                                    <td style="text-indent:45px;"> > </td>
                                                    <td style="text-indent:45px;">ETF业务</td>
                                                    <td >ETF</td>
                                                    <td style="text-indent:45px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme1211_2" style="display:none">
                                                    <td style="text-indent:45px;"> > </td>
                                                    <td style="text-indent:45px;">货币基金业务</td>
                                                    <td >货币基金</td>
                                                    <td style="text-indent:45px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme1211_3" style="display:none" onclick="jiesuanjilv()" class="jiesuanjilvshow1">
                                                    <td style="text-indent:45px;"> > </td>
                                                    <td style="text-indent:45px;">结算纪律遵守</td>
                                                    <td >结算纪律</td>
                                                    <td style="text-indent:45px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme12111_1" style="display:none">
                                                    <td style="text-indent:60px;">  </td>
                                                    <td style="text-indent:60px;">风险维度_监管监测_备付金透支金额</td>
                                                    <td >备付金透支</td>
                                                    <td style="text-indent:60px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme12111_2" style="display:none">
                                                    <td style="text-indent:60px;">  </td>
                                                    <td style="text-indent:60px;">风险维度_监管监测_连续欠库天数</td>
                                                    <td >连续欠库</td>
                                                    <td style="text-indent:60px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme12111_3" style="display:none">
                                                    <td style="text-indent:60px;">  </td>
                                                    <td style="text-indent:60px;">风险维度_一般监测_大宗交易T+0预交收不足限制撤销指定交易账户个次</td>
                                                    <td >大宗交易T+0</td>
                                                    <td style="text-indent:60px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme12111_4" style="display:none">
                                                    <td style="text-indent:60px;">  </td>
                                                    <td style="text-indent:60px;">风险维度_重点监测_欠库金额</td>
                                                    <td >欠库金额</td>
                                                    <td style="text-indent:60px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme12111_5" style="display:none">
                                                    <td style="text-indent:60px;">  </td>
                                                    <td style="text-indent:60px;">风险维度_重点监测_新股发行资金不到位金额</td>
                                                    <td >欠库金额</td>
                                                    <td style="text-indent:60px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme12111_6" style="display:none">
                                                    <td style="text-indent:60px;">  </td>
                                                    <td style="text-indent:60px;">风险维度_一般统计_待交收家次</td>
                                                    <td >待交收</td>
                                                    <td style="text-indent:60px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme1211_4" style="display:none">
                                                    <td style="text-indent:45px;"> > </td>
                                                    <td style="text-indent:45px;">债券业务</td>
                                                    <td >债券</td>
                                                    <td style="text-indent:45px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
{#                                                <tr id="collapseme1211_5" style="display:none">#}
{#                                                    <td style="text-indent:45px;"> > </td>#}
{#                                                    <td style="text-indent:45px;">货币基金业务</td>#}
{#                                                    <td >货币基金</td>#}
{#                                                    <td style="text-indent:45px;"></td>#}
{#                                                    <td >500</td>#}
{#                                                    <td ><a href="">1</a></td>#}
{#                                                </tr>#}
                                                <tr id="collapseme121_2" style="display:none">
                                                    <td style="text-indent:30px;"> > </td>
                                                    <td style="text-indent:30px;">日频度-参与人</td>
                                                    <td >日频度</td>
                                                    <td style="text-indent:30px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme121_3" style="display:none">
                                                    <td style="text-indent:30px;"> > </td>
                                                    <td style="text-indent:30px;">日频度-市场</td>
                                                    <td >日频市场</td>
                                                    <td style="text-indent:30px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme12_5" style="display:none">
                                                    <td style="text-indent:15px;"> > </td>
                                                    <td style="text-indent:15px;">股债联动</td>
                                                    <td >股债</td>
                                                    <td style="text-indent:15px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme12_6" style="display:none">
                                                    <td style="text-indent:15px;"> > </td>
                                                    <td style="text-indent:15px;">估值核验</td>
                                                    <td >估值</td>
                                                    <td style="text-indent:15px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>
                                                <tr id="collapseme12_7" style="display:none">
                                                    <td style="text-indent:15px;"> > </td>
                                                    <td style="text-indent:15px;">隐含评级</td>
                                                    <td >评级</td>
                                                    <td style="text-indent:15px;"></td>
                                                    <td >500</td>
                                                    <td ><a href="">1</a></td>
                                                </tr>



                                                <tr>
                                                    <td> > </td>
                                                    <td>业务前端功能</td>
                                                    <td>业务前端</td>
                                                    <td>admin</td>
                                                    <td>500</td>
                                                    <td>0</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class='col-4'>
                                            <a>合计150个</a>
                                        </div>
{#                                        <div class='col-8'>#}
{#                                            {% show_pagination %}#}
{#                                        </div>#}
                                        <div class='col-8'>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    function zhankai1() {
        if ($("#shujuchaxun").hasClass("chakan")){
            $("#shujuchaxun").addClass("zhedie");
            $("#shujuchaxun").removeClass("chakan");
            var collapseme1_1 = document.getElementById('collapseme1_1')
            collapseme1_1.style.display = "table-row";
            var collapseme1_2 = document.getElementById('collapseme1_2')
            collapseme1_2.style.display = "table-row";
            var collapseme1_3 = document.getElementById('collapseme1_3')
            collapseme1_3.style.display = "table-row";
            var collapseme1_4 = document.getElementById('collapseme1_4')
            collapseme1_4.style.display = "table-row";
            var collapseme1_5 = document.getElementById('collapseme1_5')
            collapseme1_5.style.display = "table-row";
        }else{
            $("#shujuchaxun").addClass("chakan");
            $("#shujuchaxun").removeClass("zhedie");
            var collapseme1_1 = document.getElementById('collapseme1_1')
            collapseme1_1.style.display = "none";
            var collapseme1_2 = document.getElementById('collapseme1_2')
            collapseme1_2.style.display = "none";
            var collapseme1_3 = document.getElementById('collapseme1_3')
            collapseme1_3.style.display = "none";
            var collapseme1_4 = document.getElementById('collapseme1_4')
            collapseme1_4.style.display = "none";
            var collapseme1_5 = document.getElementById('collapseme1_5')
            collapseme1_5.style.display = "none";
        }
    }

    function zhankai2() {
        if ($("#fengxianjiance").hasClass("chakan2")){
            $("#fengxianjiance").addClass("zhedie2");
            $("#fengxianjiance").removeClass("chakan2");
            var collapseme12_1 = document.getElementById('collapseme12_1')
            collapseme12_1.style.display = "table-row";
            var collapseme12_2 = document.getElementById('collapseme12_2')
            collapseme12_2.style.display = "table-row";
            var collapseme12_3 = document.getElementById('collapseme12_3')
            collapseme12_3.style.display = "table-row";
            var collapseme12_4 = document.getElementById('collapseme12_4')
            collapseme12_4.style.display = "table-row";
            var collapseme12_5 = document.getElementById('collapseme12_5')
            collapseme12_5.style.display = "table-row";
            var collapseme12_6 = document.getElementById('collapseme12_6')
            collapseme12_6.style.display = "table-row";
            var collapseme12_7 = document.getElementById('collapseme12_7')
            collapseme12_7.style.display = "table-row";
        }else{
            $("#fengxianjiance").addClass("chakan2");
            $("#fengxianjiance").removeClass("zhedie2");
            var collapseme12_1 = document.getElementById('collapseme12_1')
            collapseme12_1.style.display = "none";
            var collapseme12_2 = document.getElementById('collapseme12_2')
            collapseme12_2.style.display = "none";
            var collapseme12_3 = document.getElementById('collapseme12_3')
            collapseme12_3.style.display = "none";
            var collapseme12_4 = document.getElementById('collapseme12_4')
            collapseme12_4.style.display = "none";
            var collapseme12_5 = document.getElementById('collapseme12_5')
            collapseme12_5.style.display = "none";
            var collapseme12_6 = document.getElementById('collapseme12_6')
            collapseme12_6.style.display = "none";
            var collapseme12_7 = document.getElementById('collapseme12_7')
            collapseme12_7.style.display = "none";
        }
    }
    function fengxianweidu() {
        if ($("#collapseme12_4").hasClass("fengxianweidushow1")){
            $("#collapseme12_4").addClass("fengxianweiduhide1");
            $("#collapseme12_4").removeClass("fengxianweidushow1");
            var collapseme121_1 = document.getElementById('collapseme121_1')
            collapseme121_1.style.display = "table-row";
            var collapseme121_2 = document.getElementById('collapseme121_2')
            collapseme121_2.style.display = "table-row";
            var collapseme121_3 = document.getElementById('collapseme121_3')
            collapseme121_3.style.display = "table-row";
        }else{
            $("#collapseme12_4").addClass("fengxianweidushow1");
            $("#collapseme12_4").removeClass("fengxianweiduhide1");
            var collapseme121_1 = document.getElementById('collapseme121_1')
            collapseme121_1.style.display = "none";
            var collapseme121_2 = document.getElementById('collapseme121_2')
            collapseme121_2.style.display = "none";
            var collapseme121_3 = document.getElementById('collapseme121_3')
            collapseme121_3.style.display = "none";
        }
    }
    function yueducanyu() {
        if ($("#collapseme121_1").hasClass("yueducanyushow1")){
            $("#collapseme121_1").addClass("yueducanyuhide1");
            $("#collapseme121_1").removeClass("yueducanyushow1");
            var collapseme1211_1 = document.getElementById('collapseme1211_1')
            collapseme1211_1.style.display = "table-row";
            var collapseme1211_2 = document.getElementById('collapseme1211_2')
            collapseme1211_2.style.display = "table-row";
            var collapseme1211_3 = document.getElementById('collapseme1211_3')
            collapseme1211_3.style.display = "table-row";
            var collapseme1211_4 = document.getElementById('collapseme1211_4')
            collapseme1211_4.style.display = "table-row";
            {#var collapseme1211_5 = document.getElementById('collapseme1211_5')#}
            {#collapseme1211_5.style.display = "table-row";#}
        }else{
            $("#collapseme121_1").addClass("yueducanyushow1");
            $("#collapseme121_1").removeClass("yueducanyuhide1");
            var collapseme1211_1 = document.getElementById('collapseme1211_1')
            collapseme1211_1.style.display = "none";
            var collapseme1211_2 = document.getElementById('collapseme1211_2')
            collapseme1211_2.style.display = "none";
            var collapseme1211_3 = document.getElementById('collapseme1211_3')
            collapseme1211_3.style.display = "none";
            var collapseme1211_4 = document.getElementById('collapseme1211_4')
            collapseme1211_4.style.display = "none";
            {#var collapseme1211_5 = document.getElementById('collapseme1211_5')#}
            {#collapseme1211_5.style.display = "none";#}
        }

    }
    
    function jiesuanjilv() {

         if ($("#collapseme1211_3").hasClass("jiesuanjilvshow1")){
             $("#collapseme1211_3").addClass("jiesuanjilvhide1");
             $("#collapseme1211_3").removeClass("jiesuanjilvshow1");
             var collapseme12111_1 = document.getElementById('collapseme12111_1');
            collapseme12111_1.style.display = "table-row";
            var collapseme12111_2 = document.getElementById('collapseme12111_2');
            collapseme12111_2.style.display = "table-row";
            var collapseme12111_3 = document.getElementById('collapseme12111_3');
            collapseme12111_3.style.display = "table-row";
            var collapseme12111_4 = document.getElementById('collapseme12111_4');
            collapseme12111_4.style.display = "table-row";
            var collapseme12111_5 = document.getElementById('collapseme12111_5');
            collapseme12111_5.style.display = "table-row";
            var collapseme12111_6 = document.getElementById('collapseme12111_6');
            collapseme12111_6.style.display = "table-row";
         }else{
             $("#collapseme1211_3").addClass("jiesuanjilvshow1");
             $("#collapseme1211_3").removeClass("jiesuanjilvhide1");
             var collapseme12111_1 = document.getElementById('collapseme12111_1');
            collapseme12111_1.style.display = "none";
            var collapseme12111_2 = document.getElementById('collapseme12111_2');
            collapseme12111_2.style.display = "none";
            var collapseme12111_3 = document.getElementById('collapseme12111_3');
            collapseme12111_3.style.display = "none";
            var collapseme12111_4 = document.getElementById('collapseme12111_4');
            collapseme12111_4.style.display = "none";
            var collapseme12111_5 = document.getElementById('collapseme12111_5');
            collapseme12111_5.style.display = "none";
            var collapseme12111_6 = document.getElementById('collapseme12111_6');
            collapseme12111_6.style.display = "none";
         }

    }
</script>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}